name: Build Docker image and deploy to Kubernetes

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          path: .

      - uses: feavy/deploy@main
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
          DEPLOYMENT: mariadb-deployment.yml
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

      - uses: feavy/deploy@main
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
          DEPLOYMENT: deployment.yml

      - name: Restart deployment
        run: kubectl rollout restart deployment mediawiki -n wiki
